*.ini
.vscode
__pycache__/
utils/leds/Program.py
utils/buzzer/ejemplo.py
utils/buzzer/boot.py
utils/buzzer/program.py
configuracion_buzzer.json
configuracion_Led_RGB.json
configuracion_red.json
configuracion_travis.json
*.json
